fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain_huggingface
langchain_qdrant

langgraph

qdrant-client

sentence-transformers
transformers
torch

rank-bm25

google-genai

redis

marker-pdf

python-multipart

pymupdf

tqdm

numpy
pandas

einops
pillow